# -*- coding: utf-8 -*-
# vim: ft=yaml
---
salt_dependency_manager:
  dependencies:
    # Minimal form. Clones to /root/salt-formula, configures the minion side,
    # and adds /root/salt-formula to file_roots plus /root/salt-formula/pillar
    # to pillar_roots.
    - https://github.com/saltstack-formulas/salt-formula.git

    # Full form.
    - url: https://github.com/saltstack-formulas/openssh-formula.git
      sides:
        - minion
      pillar: true
      path: /root
      gitfs: false
      version: master

    # GitFS form. No local clone is managed. The repo is added to
    # gitfs_remotes, and pillar=true adds it to ext_pillar with root: pillar.
    - url: https://github.com/saltstack-formulas/nginx-formula.git
      sides:
        - master
        - minion
      pillar: true
      gitfs: true
      ref: master
      env: base
